body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: solid;
    width: 90%;
    height: 90%;
}